/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
	box-sizing: border-box
}

body {
	margin: 0;
	background-color: #45BADD
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('./robot.gif');
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat
}

.container #textarea {
	margin: 8px 0;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: whitesmoke;
	max-width: 200px;
	box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
	font-family: 'Courier New', 'Courier New', Courier, monospace;
	font-size: 19px
}

.container div {
	display: flex;
	align-items: center;
}

button {
	margin: 10px;
	width: 200px;
	height: 50px;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: #FF3482;
	box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
	font-family: 'Courier New', 'Courier New', Courier, monospace;
	font-size: 20px;
	color: white;
	cursor: pointer
}

#replay, #copy {
	width: auto;
}

#copy {
	background-color: whitesmoke;
	color: black;
	font-weight: bolder;
}

button:hover {
	filter: brightness(95%)
}

button:active {
	transform: scale(0.98)
}

button:disabled {
	filter: brightness(30%);
	cursor: progress
}

/* Tablet or Smaller */
@media screen and (max-width: 1000px) {
	.container {
		background-position: center center;
		background-size: cover
	}

	button {
		box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5)
	}
}